@media screen and (max-width:576px) {
    .nav-hide{
        display: none;
    }
    .cart-wishlist i { 
        padding: 5px 4px; 
    }
    .hide-hamburger{
        display: block;
    }
    .latest-product-heading h1 { 
        font-size: 26px; 
    }
    .best-selling-heading h1 { 
        font-size: 26px; 
    }
}