body {
    margin: 0 auto;
}

/* navbar  */
.top-head-bg {
    background-color: #d113a7;
    padding: 7px 0px;
}
.top-head-text p {
    color: #fff;
    justify-content: end;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-family: 'roboto', sans-serif; 
    font-size: 15px;
}
.top-head-text a {
    color: #fff;
    justify-content: end;
    display: flex;
    align-items: center; 
    text-decoration: none;
    font-family: 'roboto', sans-serif;  
}
.navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-list a {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    font-family: 'roboto', sans-serif;
}
.navbar-list a:hover { 
    color: #d113a7;
}
.cart-wishlist i{
font-size: 20px;
padding: 5px 10px;
cursor: pointer;
}
.cart-wishlist i:hover{
    color: #d113a7;
}


/* latest products  */
.latest-product-main{
    padding: 70px 0px 35px 0px;
}
.latest-product-heading h1{
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
}
.button{
    background-color: #d113a7;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;  
}
.button:hover{
    border: 1px solid #d113a7;
    background: transparent;
    color: #d113a7;
}

.latest-product-img img{
    position: relative;
}

.latest-product-off {
    position: absolute;
}
.latest-product-off h1{
    font-size: 13px;
    padding: 5px;
    background-color: #d113a7;
    color: #fff;
    font-weight: 400;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}
.card-title {
    min-height: 45px;
}

/* best selling  */

.best-selling-main{
    padding: 35px 0px 35px 0px;
}
.best-selling-heading h1{
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
}
/* product page  */

.product-page-content h1{
    font-size: 32px;
    color: #000;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
}
.product-page-content h2{
    font-size: 18px;
    color: #000;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    line-height: 30px;
}

.counter-cart{
    border: 1px solid #ccc;  
}
 
.counter-cart h1{ 
    font-size: 20px;
    cursor: pointer;
    margin: 4px 0px;
    color: #000;
}
 

/* footer  */

.footer-list a{
     display: block;
     text-decoration: none;
     color: #fff;
     font-size: 17px;
     font-family: 'roboto', sans-serif;
     font-weight: 300;
}